@model IEnumerable<nuevoProyecto.Models.TreeView>

@{
    ViewBag.Title = "TreeView";
}

<h2>TreeView</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tabla)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tabla)
        </td>
        <td>
            @Html.ActionLink("VerTabla", "DataGrid", new { llave = item.Tabla }) 
        </td>
    </tr>
}

</table>
